includes:
    - phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - .
    
    excludePaths:
        - ./vendor/*
        - ./docs/*
        - ./Tests/*

    reportUnmatchedIgnoredErrors: true
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: true
